 .u-section-1 {
  background-image: url("images/previewed1.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 727px;
}

.u-section-1 .u-text-1 {
  font-family: "Lexend Deca";
  font-weight: 600;
  margin: 29px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 599px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 459px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 344px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 217px;
  }
} .u-section-2 {
  background-image: url("images/dff.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1122px);
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 627px;
  background-image: url("images/Screenshot2023-10-07at3.56.54PM.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 14px 17px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 627px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-2 .u-container-layout-2 {
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  padding: 30px 40px;
}

.u-section-2 .u-group-1 {
  min-height: 38px;
  width: 170px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-1 {
  font-weight: 500;
  margin: 8px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 3rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-3 {
  text-align: left;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-2 .u-list-1 {
  width: 188px;
  margin: 30px auto 0 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 14px 14px;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-2 .u-image-2 {
  width: 180px;
  height: 55px;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-2 .u-image-1 {
    background-position: 100% 50%;
    min-height: 525px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 525px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-2 .u-image-1 {
    min-height: 804px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 170px;
    padding-left: 60px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 7px) calc(50% - 7px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-2 .u-image-1 {
    min-height: 603px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-2 .u-image-1 {
    min-height: 380px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 0;
  }
}

.u-block-e2c5-29:not([data-block-selected]):not([data-cell-selected]),
.u-block-e2c5-29:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-e2c5-29:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-e2c5-29:not([data-block-selected]):not([data-cell-selected]).u-block-e2c5-29:not([data-block-selected]):not([data-cell-selected]).u-block-e2c5-29:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-e2c5-29:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-block-e2c5-29:not([data-block-selected]):not([data-cell-selected]).u-block-e2c5-29:not([data-block-selected]):not([data-cell-selected]).u-block-e2c5-29:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-e2c5-29:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout:hover .u-block-e2c5-29:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-e2c5-29:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-2,
.u-section-2 .u-image-2:before,
.u-section-2 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-2.u-image-2.u-image-2:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-image-2 {
  border-color: transparent !important;
}

.u-section-2 .u-image-2.u-image-2.u-image-2.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-image-2 {
  border-color: transparent !important;
}

.u-section-2 .u-container-layout:hover .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0) !important;
}

.u-container-layout.hover .u-section-2 .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0) !important;
}

.u-section-2 .u-layout-cell-2,
.u-section-2 .u-layout-cell-2:before,
.u-section-2 .u-layout-cell-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-layout-cell-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-layout-cell-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-3 {
  min-height: 655px;
  background-image: none;
}

.u-section-3 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 655px;
}

.u-section-3 .u-container-layout-1 {
  padding: 40px 100px 40px 25px;
}

.u-section-3 .u-text-1 {
  margin: 53px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 30px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-3 .u-image-1 {
  min-height: 655px;
  background-image: url("images/previewed2.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0 30px 40px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 540px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 40px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 540px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 809px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 55px;
    padding-right: 270px;
    padding-bottom: 50px;
  }

  .u-section-3 .u-image-1 {
    min-height: 572px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 632px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 10px;
  }

  .u-section-3 .u-image-1 {
    min-height: 538px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 435px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-right: 40px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-image-1 {
    min-height: 339px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 618px;
}

.u-section-4 .u-video-1 {
  height: 360px;
  width: 640px;
  margin: 50px auto 0;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.u-section-4 .u-text-1 {
  margin: 30px auto 0;
}

.u-section-4 .u-text-2 {
  width: 680px;
  margin: 20px auto 50px;
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-4 .u-video-1 {
    height: 300px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-4 .u-video-1 {
    height: 190px;
    margin-top: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .embed-responsive-1 {
    left: -39%;
    top: -39%;
  }

  .u-section-4 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
    margin-bottom: 60px;
  }
} .u-section-5 {
  background-image: none;
  min-height: 954px;
}

.u-section-5 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-5 .u-shape-1 {
  height: 219px;
  margin-top: 284px;
  margin-bottom: 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto;
  width: 1140px;
  margin: -386px auto 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 30.6667px) calc(33.3333% - 30.6667px) calc(33.3333% - 30.6667px);
  min-height: 609px;
  grid-gap: 46px 46px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  height: 270px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 500;
  margin: -1px 1px 0;
}

.u-section-5 .u-text-3 {
  margin: 21px 0 0;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  height: 270px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-5 .u-text-4 {
  font-size: 1.875rem;
  letter-spacing: normal;
  font-weight: 500;
  margin: -1px 1px 0;
}

.u-section-5 .u-text-5 {
  margin: 21px 0 0;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  height: 270px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-5 .u-text-6 {
  font-size: 1.875rem;
  letter-spacing: normal;
  font-weight: 500;
  margin: -1px 1px 0;
}

.u-section-5 .u-text-7 {
  margin: 21px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    width: 940px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 458px;
  }

  .u-section-5 .u-image-1 {
    height: 214px;
    margin-left: initial;
  }

  .u-section-5 .u-text-2 {
    margin-top: 55px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-2 {
    height: 214px;
    margin-left: initial;
  }

  .u-section-5 .u-text-4 {
    margin-top: 55px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-3 {
    height: 214px;
    margin-left: initial;
  }

  .u-section-5 .u-text-6 {
    margin-top: 55px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-list-1 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 23px) calc(50% - 23px);
    min-height: 1052px;
  }

  .u-section-5 .u-image-1 {
    height: 253px;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    height: 253px;
    margin-left: initial;
  }

  .u-section-5 .u-image-3 {
    height: 253px;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 176px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 55px;
  }

  .u-section-5 .u-shape-1 {
    margin-top: 312px;
  }

  .u-section-5 .u-list-1 {
    width: 540px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-image-1 {
    height: 370px;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    height: 370px;
    margin-left: initial;
  }

  .u-section-5 .u-text-4 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-image-3 {
    height: 370px;
    margin-left: initial;
  }

  .u-section-5 .u-text-6 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 156px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
  }

  .u-section-5 .u-shape-1 {
    margin-top: 368px;
  }

  .u-section-5 .u-list-1 {
    width: 340px;
  }

  .u-section-5 .u-image-1 {
    height: 242px;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    height: 242px;
    margin-left: initial;
  }

  .u-section-5 .u-image-3 {
    height: 242px;
    margin-left: initial;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 612px;
}

.u-section-6 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  width: 645px;
  margin: 22px auto 0;
}

.u-section-6 .u-list-1 {
  margin-top: 22px;
  margin-bottom: 60px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 301px;
  grid-gap: 10px 10px;
}

.u-section-6 .u-container-layout-1 {
  padding: 10px;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 10px;
}

.u-section-6 .u-text-5 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 10px;
}

.u-section-6 .u-text-7 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-8 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-repeater-1 {
    min-height: 247px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 822px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 541px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-2 {
    width: 540px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-text-3 {
    margin-left: auto;
  }

  .u-section-6 .u-text-4 {
    width: auto;
  }

  .u-section-6 .u-text-5 {
    margin-left: auto;
  }

  .u-section-6 .u-text-6 {
    width: auto;
  }

  .u-section-6 .u-text-7 {
    margin-left: auto;
  }

  .u-section-6 .u-text-8 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-2 {
    width: 340px;
  }

  .u-section-6 .u-text-3 {
    font-size: 3rem;
  }

  .u-section-6 .u-text-5 {
    font-size: 3rem;
  }

  .u-section-6 .u-text-7 {
    font-size: 3rem;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 480px;
}

.u-section-7 .u-text-1 {
  font-size: 3.4375rem;
  margin: 76px 75px 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.125rem;
  line-height: 1.8;
  width: 846px;
  margin: 44px auto 0;
}

.u-section-7 .u-form-1 {
  height: 51px;
  width: 624px;
  margin: 26px auto 0;
}

.u-section-7 .u-input-1 {
  background-image: none;
}

.u-section-7 .u-btn-1 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
}

.u-section-7 .u-text-3 {
  font-style: italic;
  width: 768px;
  margin: 30px auto 0;
}

.u-section-7 .u-icon-1 {
  font-size: 0.875em;
}

.u-section-7 .u-icon-2 {
  font-size: 0.875em;
}

.u-section-7 .u-icon-3 {
  font-size: 0.875em;
  margin-left: 0;
  margin-right: 0;
}

.u-section-7 .u-text-4 {
  width: 768px;
  margin: 73px auto -156px;
}

.u-section-7 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 0;
  margin-bottom: -15px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 156px;
  grid-gap: 0px 0px;
}

.u-section-7 .u-container-layout-1 {
  padding: 0 40px;
}

.u-section-7 .u-image-1 {
  height: 90px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 652px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.8125rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-image-1 {
    height: 73px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 834px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.5rem;
  }

  .u-section-7 .u-text-2 {
    width: 720px;
  }

  .u-section-7 .u-text-3 {
    width: 720px;
  }

  .u-section-7 .u-text-4 {
    width: 720px;
  }

  .u-section-7 .u-list-1 {
    margin-bottom: 58px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    min-height: 292px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1109px;
  }

  .u-section-7 .u-text-2 {
    width: 540px;
  }

  .u-section-7 .u-form-1 {
    width: 540px;
  }

  .u-section-7 .u-text-3 {
    width: 540px;
  }

  .u-section-7 .u-text-4 {
    width: 540px;
  }

  .u-section-7 .u-list-1 {
    margin-top: 18px;
    margin-bottom: 59px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 445px;
  }

  .u-section-7 .u-image-1 {
    height: 77px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1144px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-7 .u-text-2 {
    width: 340px;
  }

  .u-section-7 .u-form-1 {
    width: 340px;
  }

  .u-section-7 .u-text-3 {
    width: 340px;
  }

  .u-section-7 .u-text-4 {
    width: 340px;
  }

  .u-section-7 .u-list-1 {
    margin-top: 22px;
    margin-bottom: -15px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 380px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 18px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 1002px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 59px;
  margin-bottom: 59px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 842px;
  background-image: none;
}

.u-section-8 .u-container-layout-1 {
  padding: 50px 30px 50px 50px;
}

.u-section-8 .u-text-1 {
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 300;
  margin: 20px auto 0 0;
}

.u-section-8 .u-list-1 {
  width: 417px;
  margin: 20px auto 0 0;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 339px;
  grid-gap: 0px 0px;
}

.u-section-8 .u-container-layout-2 {
  padding: 20px 30px 15px 0;
}

.u-section-8 .u-icon-1 {
  height: 22px;
  width: 22px;
  margin: 0 auto 0 0;
  padding: 2px;
}

.u-section-8 .u-text-3 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1.375rem;
  line-height: 1.1;
  margin: -22px 0 0 41px;
}

.u-section-8 .u-text-4 {
  font-size: 1.125rem;
  line-height: 2.2;
  font-weight: 600;
  margin: 18px 0 0 40px;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-container-layout-3 {
  padding: 20px 30px 15px 0;
}

.u-section-8 .u-icon-2 {
  height: 22px;
  width: 22px;
  margin: 0 auto 0 0;
  padding: 2px;
}

.u-section-8 .u-text-5 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1.375rem;
  line-height: 1.1;
  margin: -22px 0 0 41px;
}

.u-section-8 .u-text-6 {
  font-size: 1.125rem;
  line-height: 2.2;
  font-weight: 600;
  margin: 18px 0 0 40px;
}

.u-section-8 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-social-icons-1 {
  height: 29px;
  min-height: 16px;
  width: 121px;
  min-width: 82px;
  margin: 108px auto 0 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 842px;
}

.u-section-8 .u-container-layout-4 {
  padding: 50px;
}

.u-section-8 .u-text-7 {
  font-weight: 700;
  margin: 0 80px 0 6px;
}

.u-section-8 .u-form-1 {
  height: 351px;
  margin-top: 48px;
  margin-bottom: 0;
}

.u-section-8 .u-form-group-3 {
  margin-left: 0;
}

.u-section-8 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
  padding: 14px 0 15px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 854px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 694px;
  }

  .u-section-8 .u-list-1 {
    width: 390px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-top: 15px;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    margin-left: 40px;
  }

  .u-section-8 .u-text-4 {
    width: auto;
    margin-top: 24px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-top: 15px;
  }

  .u-section-8 .u-text-5 {
    width: auto;
    margin-left: 40px;
  }

  .u-section-8 .u-text-6 {
    width: auto;
    margin-top: 24px;
  }

  .u-section-8 .u-social-icons-1 {
    width: 212px;
    min-width: 148px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 694px;
  }

  .u-section-8 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 260px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 845px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-right: 50px;
  }

  .u-section-8 .u-list-1 {
    width: 568px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 360px;
  }

  .u-section-8 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-8 .u-list-1 {
    width: 456px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 50px;
  }

  .u-section-8 .u-text-4 {
    margin-top: 20px;
    margin-left: 50px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-8 .u-text-5 {
    margin-left: 50px;
  }

  .u-section-8 .u-text-6 {
    margin-top: 20px;
    margin-left: 50px;
  }

  .u-section-8 .u-social-icons-1 {
    margin-top: 109px;
  }

  .u-section-8 .u-container-layout-4 {
    padding: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-layout-cell-1 {
    min-height: 847px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-list-1 {
    width: 292px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 0;
  }

  .u-section-8 .u-text-3 {
    margin-right: 10px;
    margin-left: 30px;
  }

  .u-section-8 .u-text-4 {
    margin-top: 12px;
    margin-left: 0;
  }

  .u-section-8 .u-container-layout-3 {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 0;
  }

  .u-section-8 .u-text-5 {
    margin-right: 10px;
    margin-left: 30px;
  }

  .u-section-8 .u-text-6 {
    margin-top: 12px;
    margin-left: 0;
  }

  .u-section-8 .u-social-icons-1 {
    margin-top: 10px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}